<h1>Diaries#edit</h1>
<%= form_with model: @diary do |f| %>

  <h4>comment</h4>
  <%= f.text_field :comment %>

  <h4>time</h4>
  <%= f.number_field :time %>

  <h4>date</h4>
  <%= f.date_select :date %>

  <h4>book</h4>
  <%= f.select :book_id, @books.map { |book| [book.name, book.id] } %>

  <h4>Public ou Unpublic</h4>
  <%= f.select :public_id, options_for_select([['公開', 1], ['非公開', 2]]) %>

  <%= f.submit '登録' %>
<% end %>
