<h1>Diaries#index</h1>

<% @diaries.each do |diary| %>
  <%= diary.date %>
  <%= @books.find(diary.book_id).name %>

  <%= link_to "show", diary_path(diary.id) %>
  <%= link_to "edit", edit_diary_path(diary.id) %>
  <%= link_to "destroy", "/diaries/#{diary.id}", method: :delete %>
<% end %>
