<div class="row">
  <div class = "col-3">
    <%= render 'users/user_info', user:@user %>
  </div>

  <div class = "col-8 offset-1">
    <h2>Your Diaries</h2>




    <div class="w-100">
      <table class="table table-borderless">
        <% @diaries.each do |diary| %>
          <tr class="diary-row-top">
            <td class="text-start"><%= diary.date %>&nbsp;&nbsp;&nbsp;<%= @books.find(diary.book_id).name %></td>
          </tr>
          <tr class="diary-row-bottom">
            <td>
              <div class="d-block mx-auto" style="width: 80%;">
                <p><%= diary.comment %><%= link_to "show", diary_path(diary.id) %></p>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>


  </div>
</div>

<style>
  .diary-row-top {
    border-top: 1px solid #dee2e6;
  }
  .diary-row-bottom {
    border-bottom: 1px solid #dee2e6;
  }
</style>

