<h1>Books#index</h1>

<% @books.each do |book| %>
  <h4>タイトル</h4>
  <%= book.name %>
  <h4>著者</h4>
  <%= book.author %>

  <%= link_to "show", book_path(book.id) %>
  <%= link_to "edit", edit_book_path(book.id) %>
  <%= link_to "destroy", "/books/#{book.id}", method: :delete %>
<% end %>

<%= render 'users/user_info', user:@user %>