<!DOCTYPE html>
<html>
  <head>
    <title>ReadingDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      current user : <%= current_user.id %>
      <%= link_to "bookindex", books_path %>
      <%= link_to "bookNEW", new_book_path %>
      <%= link_to "DiaryNEW", new_diary_path %>
      <%= link_to "DiaryIndex", diaries_path %>
      <%= link_to 'ログイン', 'users/sign_in' %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </header>
    <%= yield %>
  </body>
</html>
